.table,
table {
    font-family: arial;
    margin: 0 auto;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(92, 91, 91);
    box-shadow: 0 0 5px 3px lightgray;
}

th,
td {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    text-align: left;
}


th {
    width: 360px;
}

.preContainer pre {
    margin: 0px;
    padding: 0px;
}

.title {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: arial;
}

.leftColumn {
    width: 150px;
}

.middleColumn {
    width: 500px;
}