.table {
    font-family: arial;
    margin: 0 auto;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

th,
td {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    text-align: left;
}


th {
    width: 250px;
}

.preContainer pre {
    margin: 0px;
    padding: 0px;
}

.title {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: arial;
}