.main {
    background-color: aliceblue;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(92, 91, 91);
    box-shadow: 0 0 5px 3px lightgray;
}

#input {
    width: 570px;
    height: 590px;
    resize: none;
    background-color: rgb(241, 238, 238);
    border-width: 1px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    font-size: 15px;
}

#input:focus {
    outline: none;
}

#display {
    width: 580px;
    height: 600px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}
